{% extends "/base.html" %}
{% set active_page = "projects"  %}
{% set active_project = project.short_name %}
{% set body_class = "tutorial" %}

{% block content %}

<div class="container">
    {{ project.info.tutorial | safe}}

    <div class="row">
        <div class="col-md-12" style="text-align:center;">
            <a id="start" href={{url_for('project.presenter', short_name = project.short_name)}}
                class="btn btn-tutorial"> 
                {{_('Entendido')}}!</a>
        </div>
    </div>

    <div id='PYBOSSA_USER_LOCALE' hidden>
        {% if current_user.is_anonymous() %}
        en
        {% else %}
        {{ current_user.locale }}
        {% endif %}
    </div>
</div>
{% endblock %}
