{% extends "base.html" %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
<section class="account register">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h1>{{ _('Recuperar tu contraseña') }}</h1>
                <form method="post" class="">
                        {{ form.hidden_tag() }}
                        {{ render_field(form.email_addr, placeholder= _('Tu e-mail') ) }}
                        <div class="form-actions">
                            <input type="submit" value="{{_('Recuperar')}}" class="btn btn-primary btn-block" />
                        </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

