{% extends "base.html" %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
<section class="account register">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
            <h1>{{ _('Cambiar tu contraseña') }}</h1>
            <form method="post">
                <fieldset>
                {{ form.hidden_tag() }}
                {{ render_field(form.new_password, placeholder=_('Tu nueva contraseña')) }}
                {{ render_field(form.confirm, placeholder=_('Repite tu nueva contraseña')) }}
                <div class="form-actions">
                  <input type="submit" value="Save the changes" class="btn btn-primary btn-block" />
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}

