{% extends "base.html" %}

{% block content %}
<section class="account signin">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4" style="margin-top:10px;">
                <h1>Iniciar sesión</h1>
                {% from "_formhelpers.html" import render_field, render_form %}
                {{ render_form(form, form_id="signin", action_text=_('Iniciar sesión'), btn_class="btn btn-primary btn-block")}}
                <p class="text-sm text-center" style="margin-top: 5px;">
                <a href="{{ url_for('account.forgot_password') }}">{{ _('Forgot Password') }}</a>
                </p>
                <p class="text-center">{{_('¿No tienes cuenta?')}} <a href="{{ url_for('account.register') }}">{{_('Crear una cuenta gratis')}}</a> <br/>{{_('o inicia sesión con')}}</p>

                {% if next is not none%}
                {% if auth.twitter %}
                <a href="{{ url_for('twitter.login', next=next) }}" class="btn btn-info btn-ssnn"><i class="fa-twitter"></i> {{ _('Twitter') }}</a>
                {% endif %}
                {% if auth.facebook %}
                <a href="{{ url_for('facebook.login') }}" class="btn btn-primary btn-ssnn"><i class="fa fa-facebook"></i> {{ _('Facebook') }}</a>
                {% endif %}
                {% if auth.google %}
                <a href="{{ url_for('google.login') }}" class="btn btn-warning btn-ssnn"><i class="fa fa-google-plus"></i> {{ _('Google') }}</a>
                {% endif %}
                {% else %}
                {% if auth.twitter %}
                <a href="{{ url_for('twitter.login') }}" class="btn btn-info btn-ssnn"><i class="fa fa-twitter"></i> {{ _('Twitter') }}</a>
                {% endif %}
                {% if auth.facebook %}
                <a href="{{ url_for('facebook.login') }}" class="btn btn-primary btn-ssnn"><i class="fa fa-facebook"></i> {{ _('Facebook') }}</a>
                {% endif %}
                {% if auth.google %}
                <a href="{{ url_for('google.login') }}" class="btn btn-warning btn-ssnn"><i class="fa fa-google-plus"></i> {{ _('Google') }}</a>
                {% endif %}
                {% endif %}
                <p>
                <span class="label label-warning"><i class="fa fa-bullhorn"></i> {{ _('Aviso') }}</span>
                {{ _('Haciendo click') }} <strong>{{ _('en el botón de iniciar sesión') }}</strong> {{ _('aceptas nuestros') }} <a href={{url_for('help.tos')}}>{{ _('términos de uso') }}</a> {{ _('y') }}
                <a href={{data_use | safe}}>{{ _('datos') }}</a>.

                </p>
        </div>
    </section>
{% endblock %}
