<section class="home about">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4  col-md-push-8 alergeno-companies">
                <img src="{{url_for('static', filename='img/alergeno-with-companies.svg')}}">
            </div>
            <div class="col-xs-12 col-md-8 col-md-pull-4 about-us">
                <h2>Sobre nosotros</h2>
                <p>Señor Alérgeno es una plataforma creada por <a href="http://scifabric.com">Scifabric</a> y <a href="http://soysuper.com">Soysuper</a>, dos empresas tecnológicas unidas por los intolerantes en sus filas. Ejem, nos referimos a intolerancias a los alérgenos alimentarios, ¿eh? </p>

                <p>Nuestro objetivo es clasificar productos que contienen precisamente eso, alérgenos, y hemos empezado por detectar trigo (o trazas de trigo) en sus ingredientes para que los celíacos puedan tenerlo en cuenta a la hora de hacer la compra. Pero pronto habrá más.</p>

                <p>Muchos artículos ya disponen de un sello que garantiza que son “gluten-free”, sin embargo hay otros que no dejan claro este punto.</p>

                <p>Tu colaboración es importante para clasificar aquellos productos en los que la ausencia de alérgenos no está clara al 100%. Así podremos pedir directamente a los productores que mejoren la información en sus etiquetas.</p>

                <p>Por cierto, esta es una información que compartimos libre y gratuitamente.</p>

                <p>Mil gracias por la ayuda.</p>

                <h2 class="anchor" id="alergenos">Celiaquía</h2>
                <p>Es una enfermedad producida por una intolerancia permanente al gluten, un conjunto de proteínas que se encuentran en cereales como el trigo, la avena, la cebada y el centeno. Es autoinmune; esto significa que, al ingerir gluten, el organismo de los celíacos puede producir diferentes autoanticuerpos que podrían atacar a sus órganos y sistemas, y derivar en complicaciones de salud muy serias, incluido el cáncer.</p>

                <p>Y ahora, si te sobra el tiempo, te podemos contar la versión más técnica (y larga).</p>
                <a id="aboutshowmore" class="btn btn-primary">Sí, porfi</a>
                <div class="longdescription">
                <p>La <strong>celiaquía</strong> o <strong>enfermedad celíaca</strong> (EC) es una enfermedad autoinmune producida por una intolerancia permanente al <strong>gluten</strong>, el conjunto de proteínas presentes en el trigo, avena, cebada y centeno y productos derivados de estos cereales. Se caracteriza por una reacción inflamatoria en la mucosa del intestino delgado que dificulta la absorción de macro y micronutrientes, y suelen padecerla personas con predisposición genética.</p>
                <p>Tradicionalmente se consideraba un trastorno digestivo, pero hoy sabemos que es una enfermedad sistémica (es decir, que afecta a todo el cuerpo). Lo que produce el gluten es una <strong>respuesta inmunitaria</strong> anormal que a su vez puede dar lugar a la producción de diferentes <strong>autoanticuerpos</strong> que pueden atacar a diversos <strong>órganos y sistemas</strong>.</p>
                <p>Tradicionalmente también se creía que se trataba de una enfermedad poco frecuente y que afectaba fundamentalmente a niños. Sin embargo, su incidencia mundial se sitúa entre el 1 y el 2% y que puede aparecer a cualquier edad y, además, se calcula que el 80% de los celíacos no tiene la enfermedad diagnosticada.</p>
                <p>Sus síntomas varían mucho de un paciente a otro y no existe un patrón único ni un cuadro clínico común para todos ellos. Esto supone un gran problema, ya que puede dificultar su diagnóstico.</p>
                <p>La enfermedad celíaca sin diagnosticar o sin tratamiento puede derivar en complicaciones de salud muy serias, entre las que se incluye desarrollar de todo tipo de cánceres. El único tratamiento del que se dispone actualmente es el seguimiento de una dieta sin gluten. Esta debe de seguirse de la manera más estricta posible y, por supuesto, de por vida. Pero está demostrado que cumplir con ella mejora los síntomas y disminuye (y en el mejor de los casos evita) que aparezcan otras enfermedades y complicaciones asociadas. </p>
                <h2 class="anchor" id="gluten">Pero, ¿qué es el gluten?</h2>
                <p>El <strong>gluten</strong> es un conjunto de proteínas de pequeño tamaño y que se encuentra exclusivamente en la harina de los llamados cereales de secano. </p>
                <p>Fundamentalmente, el gluten se encuentra en el trigo, pero también en la <strong>cebada</strong>, el <strong>centeno</strong> y la <strong>avena</strong>, y cualquiera de sus variedades o derivados (como la espelta, por ejemplo).</p>
                <p>El gluten es lo que hace que la masa de harina sea tan elástica y, junto con la fermentación, que crezca su volumen y que el pan sea esponjoso. </p>
                <p>Sin embargo, no es una proteína indispensable para el ser humano, ya que su contenido en aminoácidos esenciales es bajo, y podemos utilizar otras fuentes de proteínas como alimentos de origen animal (carne, leche y otros productos lácteos, huevos o pescado) o vegetal utilizando cereales libres de gluten o legumbres, frutos secos y semillas.</p>
                <p>Si crees que podrías padecer la enfermedad, consulta a tu médico.</p>
                <a class="btn btn-primary" href="{{ url_for('project.presenter', short_name='soytestproject1')}}">¡Empieza a clasificar!</a>
                </div>
            </div>
            <div class="col-xs-12 col-md-8 col-md-pull-4 about-us">
            </div>
        </div>
    </div>
</section>
<script>
</script>
