{% extends "base.html" %}
{% import "projects/_helpers.html" as helper %}
{% import "account/_helpers.html" as account_helper %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/swiper.css')}}">
<section class="home featured">
    <div class="jumbotron">
        <div class="container text-center firstfold">
            {% if categories_projects['featured'] | count > 0 %}
            {% set featured_project = categories_projects['featured'] | random %}
            <div class="col-xs-12 col-sm-6 col-sm-push-6">
                <img class="sr-alergeno-home" src="{{url_for('static', filename='img/trigo-si-o-no.svg')}}">
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-pull-6">
                <h1>Un proyecto sin gluten</h1>
                <p>Señor alérgeno es una plataforma para clasificar productos que contienen alérgenos en sus ingredientes. Y toda la información que se recopila se comparte abierta, libre y gratuitamente.<br>
                <a class="btn btn-primary" href="{{ url_for('project.presenter', short_name=featured_project.short_name)}}">Empieza a clasificar</a>
                </p>
            </div>
            {% else %}
            <div class="col-xs-12 col-sm-6 col-sm-push-6">
                <img class="sr-alergeno-home" src="{{url_for('static', filename='img/trigo-si-o-no.svg')}}">
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-pull-6">
                <h1>Un proyecto sin gluten</h1>
                <p>Señor alérgeno es una plataforma para clasificar productos que contienen alérgenos en sus ingredientes. Y toda la información que se recopila se comparte abierta, libre y gratuitamente.<br>
                <a class="btn btn-primary" href="{{ url_for('project.presenter', short_name='soytestproject1')}}">Empieza a clasificar</a>
                </p>
            </div>
            {% endif %}
        </div>
    </div>
</section>
<section class="numbers">
    <h2>Últimos clasificados</h2>
    <div class="swiper-container">
        <div class="swiper-wrapper">
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next">
                <i class="fa fa-fw fa-2x fa-chevron-right"></i>
        </div>
        <div class="swiper-button-prev">
            <i class="fa fa-fw fa-2x fa-chevron-left"></i>
        </div>
    </div>
</section>
<section class="numbers" style="display:none;">
    <div class="container text-center">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <img src="static/img/numbers.svg">
            <h2>En este momento tenemos ya <span id="n_products">NNNNN</span> productos clasificados</h2>
            <p>¿Quieres la lista?  Pues descárgatela <a href="#">aquí</a></p>
        </div>
    </div>

</section>

<section class="companies">
    <div class="container">

        <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4 alergeno-description">
            <h2>Sr. <span>Alérgeno</span></h2>
            <p>Señor Alérgeno es el granito de arena que Scifabric y Soysuper quieren aportar para facilitar la vida a todos aquellos que sufren algún tipo de intolerancia alimentaria. <a href="{{url_for('home.about')}}">¿Quieres saber más?</a></p>
        </div>

        <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-1 col-md-5 col-lg-offset-2 col-lg-4">
            <div class="thumbnail company-card">
                <a href="https://soysuper.com">
                <div class="post-pic soysuper-card">
                    <img src="{{url_for('static', filename='img/soysuper-logo.png')}}">
                </div>
                </a>
                <div class="caption">
                    <p>Soysuper es el agregador de supermercados que te permite comparar precios, ofertas y plazos de entrega de supermercados, para que hagas la compra de forma rápida y sencilla, y ahorrando tiempo y dinero.</p>
                    <p><a href="https://soysuper.com">https://soysuper.com</a></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-0 col-md-5 col-lg-4">
            <div class="thumbnail company-card">
                <a href="http://scifabric.com">
                <div class="post-pic scifabric-card">
                    <img src="{{url_for('static', filename='img/scifabric-logo.svg')}}">
                </div>
                </a>
                <div class="caption">
                    <p>Scifabric es la empresa que desarrolla PYBOSSA, una tecnología para plataformas de recogida, análisis y enriquecimiento de datos, con un ojo siempre puesto en la ciencia ciudadana.</p>
                    <p><a href="http://scifabric.com">http://scifabric.com</a></p>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}
{% block extrajs %}
{% assets filters="jsmin", output="js/gen/searchfront.min.js",
    "js/searchfrontpage.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{%endblock %}

