.anchor:before {
    display: block;
    content: "";
    height: 90px;
    margin: -90px 0 0;
}

.longdescription {
    margin-top: 20px;
    height: 0px;
    overflow: hidden;
}

.longdescription.full {
    height: 100%;
}
