.cc_container {
    background: $brand-primary !important;
}

.cc_message {
    color: white;
    font-size: 14px !important;
}

.cc_btn {
    background-color: white !important;
    color: $brand-primary !important;
    font-size: 14px !important;
    font-weight: bold !important;
    padding: 15px 15px !important;
}
