.navbar-default {
  background-color: white;
  border-bottom: 1px solid #D6DCDE;

}
.navbar-default .navbar-brand,
.mrallergen {
  color: #2E4B63;
  font-weight: 500;
  font-size: 30px;
  font-family: "mr_dafoeregular";
}
.navbar-default .navbar-brand span,
.mrallergen span {
  color: #2E4B63;
  font-weight: 600;
  font-family: "source sans pro";
}

.mrallergen,
.mrallergen span {
    color: white;
}

.mrallergen:hover ,
.mrallergen span:hover {
    color: white;
    text-decoration: none;
}

  .navbar-brand {
    padding: 17px 15px;
  }


.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #2E4B63;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #2E4B63;
  text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a {
  color: #2E4B63;
  text-transform: uppercase;
  font-weight: 600
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #2E4B63;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: $gray-dark;
  background-color: transparent;
  border-bottom: 2px solid #3ab0d5;
}

.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #1a242f;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #1a242f;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #1a242f;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: transparent;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: $gray-dark;
  padding-bottom: 10px;
}

.funnel-navbar{
  background-color: $brand-info;
  color: #fff;
}

.fa-funnel{
  font-size: 18px !important;
  color: white;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: $brand-primary;
}

@media(max-width:767px) {
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: $brand-primary;
}

}

#question{
    margin-top: 19px;
}

.navbar-mrallergen > a#info {
    margin-top: -4px;
}


@media (min-width:768px) {

    .navbar {
  min-height: 70px;
  }


    .navbar-mrallergen {
        width: 100%;
        text-align: center;
    }
    .navbar-nav-mrallergen {
        float: none;
    }

    #question {
        display: block;
        margin-top: 11px;
    }

        .navbar-nav > li > a {
    padding-top: 25.5px;
    padding-bottom: 4px;
  }

}

@media (max-width:991px){

  .nav > li > a {
      padding-right: 9px;
      padding-left: 9px;
  }

}


@media (min-width: 1024px) {



  #question {
      display: block;
      margin-top: 11px;
  }

}

.navbar-close-btn {
    position: absolute;
    top: 19px;
    /* float: right; */
    margin-left: 93%;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #fff;
    background-color: #EEEEEE;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
    background-color: #EEEEEE;
}

#beta {
    padding-left: 3px;
    font-size: 12px;
    text-transform: uppercase;
    color: grey;
    margin-top: -34px;
    display: block;
    margin-left: 153px;
}
