$input-height: 50px;
.results {
    background-color: #86B9D7;
    padding-top: 35px;
    padding-bottom: 15px;
    
     .jumbotron-search {
            margin-top: 40px;
            background-color: transparent;
            height: 250px;
    }

    .input-group-addon {
        border-radius: 2px;
        background-color: white;
    }

    .input-group-lg {
        height: $input-height;
        padding: 18px 15px;
        border-radius: 4px;
        font-size: 16px;
        border: none;
        margin-top: 20px;
    }

    .btn-search {
        margin-top: 20px;
        padding-top: 13px;
        height: 50px;
        border: none;
        width: 100%;
        background-color: $brand-primary;
    }

    h1{
        font-size: 32px;
    }

}

.results-home {
    background-color: transparent;
}

.search-group{
    margin-top: 20px;
}

.found {
    display: none;
    min-height: 300px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;

    .n-products-found {
        font-size: 18px;
        color: $brand-primary;
        font-weight: bold;
        padding-top: 12px;
        margin-top: 1px;
    }

    .btn-options {
        min-width: 222px;
        margin: 0px;
        background-color: transparent;
        border: 1px solid #D6DCDE;
        text-transform: uppercase;
        padding-top: 9px;
    }

    .dropdown-menu {
        min-width: 222px;
        margin-top: -1px;
        border-radius: 0;
    }

    .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
        text-decoration: none;
        color: $brand-primary;
        background-color: #EEEEEE;
    }

    .btn-options:hover,
    .btn-options:active,
    .btn-options:focus {
        color: $brand-primary;
    }


    button.btn.btn-default.btn-search {
        margin-left: 15px;
    }

}

.classification-label{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;

}

.classification-label.big {
        font-size: 20px;
    }


.gluten-free {
    color: #94CA55;
}

.wheat {
    color: red;
}


.products {
    margin-top: 15px;
    margin-bottom: 15px;

    .product {
        margin-top: 15px;
        cursor: pointer;
        border: 1px solid #D6DCDE;
        border-radius: 1px;
        padding: 15px;
        min-height: 235px;
       
        .brand {
            margin-bottom: 10px;
            text-transform: uppercase;
            font-weight: 700;
        }

        .name {
            margin-bottom: 10px;    
            overflow: hidden;
       

            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2; /* number of lines to show */
            min-height: 44px;

        }

        .img {
            padding-top: 5px;

        }
    }
    .product:hover {
        border: 1px solid #6B6E6F;
    }
}

.selected-product {
    display: none;
    margin-top: 15px;
    
    #back {
        display: block;
        padding-top:5px;
        padding-bottom:5px;
        margin-bottom: 20px;
        margin-top: 10px;
        text-transform: uppercase;
        font-weight: 600;
    }
    .selected {
        display: none;
            margin-bottom: 60px;
    }
    .square {
        border: 1px solid #D6DCDE;
        padding: 15px;
    }

    .brand {
        font-size: 24px;
        text-transform: underline;
    }

    .classification {
        border: 2px solid;
        padding-top: 5px;
        //padding-left: 10px;
        //padding-right: 10px;
        border-radius: 3px;
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: column;

        .bottom {
            border-top: 2px solid;
            margin-top: 10px;
            width: 100%;
            display: flex;
            align-content: center;
            align-items: center;
        }

        .onefold {
            flex-grow: 1;
            text-transform: uppercase;
            //align-self: flex-start;
            display: flex;
            align-content: center;
            align-items: center;
            flex-direction: column;
            justify-content: space-around;

            .big {
                font-size: 54px;
                font-weight: bold;
            }
        }

        .twofolds {
            flex-grow: 2;
            border-left: 2px solid;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            .legend {
                display: flex;
                width: 100%;
                justify-content: space-between;
                border-top: 2px solid;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }

            .colors {
                align-items: center;
                justify-content: space-around;
                display: flex;
                width: 100%;
            }

            .column {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }

            .low, .mid, .high {
                stroke-width: 4px;
            }

            .low  {
                stroke: red;
                fill: white;
            }

            .low.chosen{
                fill: red;
            }

            .mid {
                stroke: #ff9900;
                fill: white;
            }

            .mid.chosen{
                fill: #ff9900;
            }

            .high {
                stroke: #94CA55;
                fill: white;
            }

            .high.chosen{
                fill: #94CA55;
            }

            .small {
                font-size: 12px;
            }

            .number {
                margin-top: -14px;
            }
        }
    }
}

@media (max-width: 415px) {
    .results{padding-top: 5px;}
    .results h1{ font-size: 28px;    }
    .results .jumbotron-search { margin-top: 25px;}
    .search-group{margin-top: 0px;}
    
    .found .btn-group{
        width: 100%;
        margin-top: 15px;
    }

    .found .dropdown-menu{
        width: 100%;
    }

    .dropdown-menu>li>a{
        line-height: 2.5;
    }


}

.img-vertical-centered {
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-back {
    margin-top: 15px;
}

.top10 {
    margin-top: 10.5px;
}

.warning-label {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

.warning {
    margin-top: 20px;
    font-size: 12px;
}

.labelIngredients {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

@media(max-width: 414px) {
 .labelIngredients {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    }
   
}
