{% extends "base.html" %}
{% set active_page = "support" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Page not found!</h1>
            <p>¡Uy! No hemos encontrado la página, lo siento.</p>
            <a id="btnHome" href="{{url_for('home.home')}}" class="btn btn-lg" style="display:none;"> 
                Ir a la página principal
            </a>
            <a id="btnBack" href="#" class="btn btn-lg" onclick="history.back()" style="display:none;"> 
                Ir atrás</a>
        </div>
    </div>
</div>
<script>
    console.log(history.length);
    if (history.length > 1) {
        $("#btnBack").show();
    }
    else {
        $("#btnHome").show();
    }

</script>
{% endblock %}
