<footer class="{% if active_page == 'presenter'%}hidden{% endif %}">
    <div class="container">
        <div class="col-xs-12 col-md-12">
            <p>
                <a href="{{ url_for('home.about')}}">Sobre Sr.Alérgeno</a><br>
                <a href="{{ url_for('home.about', _anchor='alergenos')}}">Alérgenos y enfermedades</a><br>
                <a href="https://soysuper.com">Sobre Soysuper</a><br>
                <a href="https://scifabric.com">Sobre Scifabric</a><br>
                <a href="https://pybossa.com">Desarrollado con PYBOSSA</a><br>
            </p>
        </div>
    </div>
</footer>

