<div class="navbar navbar-default navbar-fixed-top {% if active_page == 'presenter'%}funnel-navbar{% endif %}">
    <div class="container">
        {% if active_page != 'presenter' %}
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('home.home') }}">Sr.<span> Alérgeno</span><span id="beta">beta</span></a>
            {% if current_user.is_authenticated() %}
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                {{_('Menú')}}
            </button>
            {% else %}
            <button class="navbar-toggle signin">
                <a href="{{ url_for('account.signin') }}"> {{ _('Iniciar sesión') }}</a>
            </button>
            {% endif %}
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <!--<li {% if active_page == 'community' %} class="active" {% endif %}><a href="{{ url_for('account.index')}}">{{ _('Comunidad') }}</a></li>-->
                <li {% if active_page == 'resultados' %} class="active" {% endif %}><a href="{{ url_for('home.result')}}">{{ _('Buscador de productos') }}</a></li>
                {% if current_user.is_authenticated() and current_user.admin %}
                <li {% if active_page == 'projects' %} class="active" {% endif %}><a href="{{ url_for('project.index') }}">{{ _('Proyectos') }}</a></li>
                <li {% if active_page == 'create' %} class="active" {% endif %}><a href="{{ url_for('project.new') }}">{{ _('Crear') }}</a></li>
                {% endif %}
                <li {% if active_page == 'about' %} class="active" {% endif %}><a href="{{ url_for('home.about')}}">{{ _('Sobre el proyecto') }}</a></li>
                <li {% if active_page == 'enfermedades' %} class="active" {% endif %}><a href="{{ url_for('home.about', _anchor="alergenos")}}">{{ _('Enfermedades') }}</a></li>
            </ul>
            {% include '_gcs_form.html' ignore missing %}
            <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated() %}
                <li {% if active_page == 'profile' %} class="active" {% endif %}><a href="#" data-toggle="dropdown" class="dropdown-toggle"> {{ current_user.name | truncate(16,true) }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('account.profile', name=current_user.name) }}"> {{ _('Mi perfil') }}</a></li>
                    {% if current_user.is_authenticated() and current_user.admin %}
                    <li><a href="{{ url_for('account.projects', name=current_user.name) }}"> {{ _('Mis proyectos') }}</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('account.update_profile', name=current_user.name) }}"> {{ _('Mis ajustes') }}</a></li>
                    {% if current_user.admin == 1 %}
                    <li class="divider"></li>
                    <li><a href="{{ url_for('admin.index') }}">{% if notify_admin %} <span class="label label-info ">{{ news |count }}</span>{% else %}{% endif %} {{ _('Administrar') }}</a></li>
                    {% endif %}
                    <li class="divider"></li>
                    <li><a href="{{ url_for('account.signout') }}"> {{ _('Salir') }}</a></li>
                </ul>
                </li>
            {% else %}
                <li><a href="{{ url_for('account.signin') }}"> {{ _('Iniciar sesión') }}</a></li>

            {% endif %}
            </ul>
        </div>
        {% else %}
        <div class="navbar-header navbar-mrallergen">
            <a id="info" class="navbar-brand hidden-sm hidden-md hidden-lg" href="#"><i class="fa fa-info-circle fa-funnel"></i></a>
            <div id="question" class="navbar-nav navbar-nav-mrallergen">
                <a class="mrallergen hidden-xs" href="{{ url_for('home.home') }}">Sr.<span> Alérgeno</span></a>
            </div>
            <div class="navbar-close-btn">
            <a href="{{ url_for('home.home') }}"><i class="fa fa-times fa-funnel"></i></a>
            </div>

        </div>
        {% endif %}
    </div>
</div>
